!!!
%html
  %head
    %title coderbits widget
    %link{:href => "coderbits.css", :media => "screen", :rel => "stylesheet"}/
  %body
    %section#coderbits{"data-coderbits-username" => "scott"}
    %script{:src => "coderbits.js"}
